* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: white;
    font-style: italic;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: 30%;
}

h1 {
    color: white;
    font-size: 2.5em;
    margin-top: 10px;
    margin-right: 30%;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

h3 {
    font-size: 1.5em;
    margin-top: 20px;
}

.project {
    overflow: visible;
    display: flex;
    margin-bottom: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project img {
    transition: transform 0.25s ease;
    cursor: pointer;
    position: relative;
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
    margin-right: 20px;
}

.enlarged {
    position: fixed;

    transform: translate(85%, 0%) scale(3);
    z-index: 10;
    cursor: zoom-out;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-info h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.project-info p {
    margin-bottom: 10px;
}

.project-info a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
    transition: color 0.3s ease;
}

.project-info a:hover {
    color: #388E3C;
}

footer {
    text-align: center;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 40px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

#date {
    width: 100%;
}

iframe {
    width: 250px;
    height: 150px;
    margin-right: 20px; 
}